html, body {
    height: 100%
}

.autocomplete-suggestions { 
    border: 1px solid #000; 
    background: #fff; 
    cursor: pointer; 
    overflow: auto; 
    max-height: 65%;
}

.autocomplete-suggestion { 
    border-bottom: 2px solid #aaa; 
    padding: 10px 5px; 
    font-size: 3vh; 
    white-space: nowrap; 
    overflow: hidden; 

}
.autocomplete-selected { 
    background: #ccddff; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399ff; 
}

.items-box-div {
    margin-top: 5px
}

.items-box {
    border: 1px solid black;  
    min-height: 500px; 
    height: 75%;
}

.item-row {
    padding: 2px;
    border: 1px solid red;  
    height: 50%;
}

.item-img-row {
    height: 100%; 
    border-right: 1px solid black;

    /* border: 1px solid blue; */
    padding: 0;
}

.item-img {
    width: 75%;
}

.item-info {
    /* border: 1px solid green;  */
    height: 100%;
}

.item-data {
    margin-top: 1%;
}

.item-remove {
    /* border: 1px solid yellow;  */
    height: 100%;
}

.side-button {
    opacity: 1;
}

#autocomplete {
    font-size: 150%; 
    width: 75%; 
    padding: 0.5% 0.25%; 
    border: 1px solid #222; 
    border-radius: 5px;
    vertical-align: top;
}

#search-button {
    font-size: 150%; 
    padding: 0.5% 0.25%; 
    margin: 0;
    width: 10%;
    vertical-align: top;
}

#search-bar-title {
    margin: 5%
}