{% extends 'item_companion/base.html' %}

{% block head %}
    <title>Home</title>
    {% load static %}
    <script type="text/javascript" src="{% static "dist/jquery.autocomplete.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/searchbar.css" %}" />
{% endblock %}


{% block content %}
    <div class="container">
        <div id="content" style="width:100%; height:100%">
            <h1 class="className">Hello World</h1>
            <input type="text" id="autocomplete"></input>
        </div>
    </div>

    <script>
        $(function() {

            $.ajax({
                url: '/items/all/'
            })
            .done(function(data) {
                $("#autocomplete").autocomplete({
                    lookup: data['suggestions'],
                    onSelect: function(selection) {
                        console.log(selection['value'])
                    }
                });
            })

        });
    </script>
{% endblock %}

