{% extends 'item_companion/base.html' %}

{% block head %}
    <title>Home</title>
    <!-- Get JS and CSS for the search bar  -->
    {% load static %}
    <script type="text/javascript" src="{% static "dist/jquery.autocomplete.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/searchbar.css" %}" />
{% endblock %}


{% block content %}
     <div class="container"> 
        {% include "item_companion/searchbar.html" with title="Search For Items!" %}
    </div>
{% endblock %}

