{% extends 'item_companion/base.html' %}

{% block head %}
    <title>Home</title>
    <!-- Get JS and CSS for the search bar  -->
    {% load static %}
    <script type="text/javascript" src="{% static "item_companion/dist/jquery.autocomplete.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "item_companion/css/searchbar.css" %}" />
{% endblock %}


{% block content %}
    <div class="container"> 
        <div class=row>
            {% include "item_companion/searchbar.html" with title="Search For Items!" function="myFunc" %}
            <!-- <div id="selected-items" style="width:75%; height:500px; border: 1px solid black;">
                <div style="width:100%; height:50px; border: 1px solid red; display: inline-flex;">
                    <div style="width:10%; height:95%; border: 1px solid green;">
                    </div>
                    <div>
                        <span>Item Name</span>
                        <span>Main Type > Sub Type</span>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xs-9 items-box">

                <div class="row item-row">
                    <div class="col-xs-2 item-img-row">
                        <img src="{% static "item_companion/img/clyde.png" %}" class="item-img" />
                    </div>
                    <div class="col-xs-8 item-info">
                        <div class="row item-data">
                            <div class="col-xs-12">Item Name</div>
                        </div>
                        <div class="row item-data">
                            <div class="col-xs-12">Main Type > Sub Type</div>
                        </div> 
                        <div class="row item-data">
                            <div class="col-xs-6">Req. Lvl: 60</div>
                            <div class="col-xs-6">iLvl: 230</div>
                        </div>
                    </div>
                    <div class="col-xs-2 item-remove">
                        <button type="button" class="close remove-button" aria-label="Close">
                            <span aria-hidden="true" style="font-size:8vw;">&times;</span>
                        </button>
                    </div>
                </div> 

            </div>
        </div>
    </div>

    <script>

        // Generate a display row for an item
        function genItemRow(name, img, mtype, stype, ilvl, rlvl) {

        }

        // What to do once a user selects an item
        function myFunc(selection) {
            $.get({
                url: '/items/item/' + selection.split(" ").join("_"),
            })
            .done(function(data) {
                // Add some sort of node with the item to something else?
                console.log(data);
            });
        }

        $('.remove-button').click(function() {
            $(this).closest('.row').remove();
        });
    </script>
{% endblock %}

