<div id="content" style="width:100%; height:100%; text-align: center">
    <h1 id="search-bar-title">{{ title }}</h1>
    <div style="display: inline-block; width: 100%; height: 100%;">
        <input type="text" id="autocomplete"></input>
        <button class="btn btn-primary" id="search-button">Go!</button>
    </div>
</div>

<script>
    $(function() {

        $.ajax({
            url: '/items/item-names/'
        })
        .done(function(data) {
            $("#autocomplete").autocomplete({
                maxHeight: null,
                lookup: data['suggestions'],
                onSelect: function(selection) {
                    $("#autocomplete").val(selection['value']);
                }
            });
        })

        $("#search-button").click(function() {
            console.log( $("#autocomplete").val() );
        });

    });
</script>