<div id="content" style="width:100%; height:100%; text-align: center">
    <h1 id="search-bar-title">{{ title }}</h1>
    <form id="search-form" onsubmit="onFormSubmit(); return false;">
        <div style="display: inline-block; width: 100%; height: 100%;">
            <input type="text" id="autocomplete"></input>
            <button type="submit" class="btn btn-primary" id="search-button">Go!</button>
        </div>
    </form>
</div>

<script>
    $(function() {

        $.ajax({
            url: '/items/item-names/'
        })
        .done(function(data) {
            $("#autocomplete").autocomplete({
                maxHeight: null,
                lookup: data['suggestions'],
                onSelect: function(selection) {
                    $("#autocomplete").val(selection['value']);
                    // Using jquery here explodes the stack for some reason
                    document.getElementById('autocomplete').focus();
                }
            });
        })

    });

    function onFormSubmit() {
        var inputField = document.getElementById("autocomplete");
        {{ function }}( inputField.value );
        inputField.value = "";
    };
</script>